{%extends 'movie/base-movie.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Delete Season{%endblock%}</title>
   {%block page_title%}Delete Season{%endblock%}
</head>
<body>
<form method="post" enctype="multipart/form-data">{%csrf_token%}
    {%block main%}
          <h3 style="color:white;">Are  you sure you wanna delete {{ object.number }} | {{ object.film.name }}??</h3>
    {%endblock%}

    {% block side %}
      <a href="{% url 'movie:season-detail' object.token %}" class="site-btn">No, return to detail page</a> <br><br>
      <button type="submit" class="site-btn">Delete</button>
    {%endblock%}

    </form>
</body>
</html>