{%extends 'base/base.html'%}
{% load ratings %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>{%block title%}{{ object.name }}{%endblock%}</title>
</head>
<body>
    {%block body%}
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg">
                            <img src="{{object.picture.url}}" alt="pic">
                            <div class="comment"><i class="fa fa-star"></i> {{object.imdb}}/10</div>
                            <div class="view"><i class="fa fa-eye"></i> {{object.views.count}}</div>
                        </div>
                    </div>
                        <div class="col-lg-9">
                            <div class="anime__details__text">
                                <div class="anime__details__title">
                                    <h3>{{object.name}}</h3>
                                    <span>A film by {%for director in object.director.all %}
                                        {{director}} |
                                        {%endfor%} </span>
                                </div>
                                <div class="anime__details__rating">
                                    {% ratings object %}

                                </div>
                                <p>{{object.intro}}</p>
                                <div class="anime__details__widget">
                                    <div class="row">
                                        
                                        <div class="col-lg-6 col-md-6">
                                            <ul>
                                                
                                                <li><span>Type:</span>{%if object.seasons.count == 0%}Film{%else%}TV Series{%endif%}</li>
                                                <li><span>Date Released:</span> {{object.release_date}}</li>
                                                <li><span>imdb:</span>{{object.imdb}}/10</li>
                                                <li><span>Genre:</span>
                                                    {%for genre in object.genre.all %}
                                                        <a href="{% url 'movie:filter-genre' genre %}">{{genre}}</a>
                                                    {% empty %}
                                                        <a href="{% url 'element:add-genre-to-movie' object.token %}">Empty, Add New One</a>
                                                    {%endfor%}
                                                </li>
                                                <li><span>
                                                    Directors:
                                                </span> {%for director in object.director.all %}
                                                            <a href="{% url 'element:profile' director.token %}">{{director}},</a>
                                                        {% empty %}
                                                            <a href="{% url 'element:add-director-to-movie' object.token %}">Empty, Add New One</a>

                                                    {%endfor%}</li>
                                            </ul>
                                        </div>
                                </div>
                                {%if request.user.is_authenticated%}
                                    <div class="anime__details__btn">
                                        <a href="{%url 'movie:update-movie' object.token%}" class="follow-btn">Update</a>
                                        <a href="{%url 'movie:add-season' object.token%}" class="follow-btn">Add Season</a>
                                        <a href="{%url 'element:add-actor-to-movie' object.token%}" class="follow-btn">Add Actor</a>
                                        <a href="{%url 'element:add-director-to-movie' object.token%}" class="follow-btn">Add Director</a>
                                    </div>

                                    </div>
                                {%endif%}
                            </div>
                        </div>
                </div>


                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            {% if object.seasons.count != 0 %}
                                <div class="section-title">
                                    <h5>Seasons</h5>
                                </div>
                                    {%for seaoson in object.seasons.all %}
                                        <div class="anime__review__item">
                                            <div class="anime__review__item__text">
                                                <a href="{%url 'movie:season-detail' seaoson.token %}"><h6>{{seaoson.number}} | {{object.name}}</h6></a>
                                                <p>{{seaoson.story | truncatewords:30}}</p>
                                            </div>
                                        </div>
                                    {%endfor%}
                            </div>
                        {% endif %}
                    </div>


                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>Actors</h5>
                            </div>
                            {%for actor in object.actors.all %}
                                <div class="product__sidebar__view__item set-bg">
                                    <h5><a href="{%url 'element:profile' actor.token %}">{{actor.full_name}} </a>
                                    {% if request.user.is_authenticated %}<a href="{% url 'element:remove-actor-from-movie' object.token actor.token %}">
                                            | Remove</a>{% endif %}</h5>
                                </div>
                            {% empty %}
                                    <div class="product__sidebar__view__item set-bg">
                                    <h5><a href="{%url 'element:add-actor-to-movie' object.token %}">Add Actor</a></h5>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {%endblock%}
</body>
</html>