{%extends 'base/base.html'%}
{%load static%}


{%block body%}
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Logout Page</h2>
                    <p>Welcome to the official Anime website.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="login spad">
        <div class="container">
            <div class="row">
                    <div class="login__form">
                        <form method="post">{%csrf_token%}
                            <h3>Are you sure you wanna logout?</h3>
                            <button type="submit" class="site-btn">Logout</button>
                        </form>
                    </div>
            </div>
            </div>
        </div>
    </section>
{%endblock body%}