{%extends 'movie/base-movie.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Season detail{%endblock%}</title>
   {%block page_title%}Season detail{%endblock%}
</head>
<body>
    {%block main%}
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h2>Seoson {{object.season_number}} of {{object.for_film.first}}</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p>{{object.story}}</p>
                        </div>
            </div>
            <a  href="{%url 'movie:film-detail' object.for_film.first.token%}" class="site-btn">Back</a>
            <a  href="{%url 'movie:home'%}" class="site-btn">Home</a>
        </div>
    </section>
    
    {%endblock%}
</body>
</html>