{%extends 'movie/base-movie.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Update Movie{%endblock%}</title>
   {%block page_title%}Update Movie{%endblock%}
</head>
<body>
    {%block main%}
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="login__form">
                    <form method="post" enctype="multipart/form-data">{%csrf_token%}
                        <h3>General info</h3>
                        <div class="input__item">
                            <input name="name" type="text" value="{{form.name.value}}" placeholder="Name" maxlength="20">
                        </div>
                        <div class="input__item">
                            <input name="intro" type="text" value="{{form.intro.value}}" placeholder="Tell us a short intro..." maxlength="50">
                        </div>
                        <div class="input__item">
                            <input name="imdb" type="number" value="{{form.imdb.value}}" placeholder="imdb" maxlength="2">
                        </div>
                        <div class="input__item">
                            <input name="seosons" type="number" value="{{form.seosons.value}}" placeholder="imdb" maxlength="2">
                        </div>
                    </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>other info</h3>
                        <label style="color: white;" for="picture">Picture</label>
                        <div class="input__item">
                            <input name="picture" type="file" value="{{form.picture.value}}" >
                        </div>  <br>
                        <div class="input__item">
                            <input name="release_date" type="date" placeholder="release date" value="{{form.release_date.value}}" style="width: 10cm; height: 1.3cm;" maxlength="20">
                        </div>
                        <div class="input__item">
                            <input name="token"  value="{{form.token.value}}" type="text"  style="width: 10cm; height: 1.3cm;" maxlength="20">
                        </div>
                        <br><br><button type="submit" class="site-btn">Submit</button>
                    </div>
                </form>
                </div>
            </div>  
        </div>
            </div>

        </div>
    
    {%endblock%}
</body>
</html>