{%load static%}
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <div class="footer__logo" style="color: white;">
                        EZ Anime
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="{%url 'movie:home'%}">Homepage</a></li>
                            {%if request.user.is_authenticated%}
                                    <li><a href="{%url 'account_logout'%}">logout</a></li>
                                {%else%}
                                    <li><a href="{%url 'account_login'%}">Login</a></li>
                                {%endif%}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3" style="color: white;">
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 

                  </div>
              </div>
          </div>
      </footer>
