{%load static%}
<header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{%url 'movie:home'%}">
                            EZ Anime
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{%url 'movie:home'%}">Homepage</a></li>
                                <li><a href="#">Pages <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="#">Categories</a></li>
                                        {%if request.user.is_authenticated%}
                                            <li><a href="{%url 'account:logout'%}">logout</a></li>
                                        {%else%}
                                            <li><a href="{%url 'account:login'%}">Login</a></li>
                                        {%endif%}
                                    </ul>
                                </li>
                                {%if request.user.is_authenticated%}
                                    <li><a href="#">Add <span class="arrow_carrot-down"></span></a>
                                        <ul class="dropdown">
                                            <li><a href="{%url 'movie:add-movie'%}">Movie</a></li>
                                            <li><a href="{%url 'movie:add-series'%}">Series</a></li>
                                                
                                        </ul>
                                    </li>
                                {%endif%}
                                {%if request.user.is_authenticated%}
                                    <li><a href="{%url 'account:logout'%}">logout</a></li>
                                {%else%}
                                    <li><a href="{%url 'account:login'%}">Login</a></li>
                                {%endif%}
                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
