{%extends 'base/base.html'%}
{%load static%}

{%block body%}
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>{%block page_title%}{%endblock%}</h2>
                    <p>Welcome to the official Anime website.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<form method="post" action="" enctype="multipart/form-data">{%csrf_token%}

    <section class="login spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% block side %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
</form>
{%endblock body%}