{%extends 'cast/base-cast.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Profile page{%endblock%}</title>
   {%block page_title%}profile page{%endblock%}
</head>
<body>
    {%block main%}
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="login__form">
                    <img src="{{object.avatar.url}}" alt="avatar">
                    <br><br>
                    <h3>{{object.full_name}}</h3>
                    <p style="color: white;">Birth date: {{object.birthday}}</p>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Biography</h3>
                        <p style="color: white;">{{object.biography}}</p>
                        <h3>Works</h3>
                        {%for work in object.movie_actor.all %}
                            <a href="{%url 'movie:film-detail' work.token%}">{{work}} | </a>
                        {%endfor%}
                        {%if request.user.is_authenticated%}
                            <a href="{%url 'cast:update-cast' object.token%}" class="site-btn">Update</a>
                        {%endif%}
                        
                    </div>
                </div>
            </div>  
        </div>
            </div>

        </div>
    
    {%endblock%}
</body>
</html>