{%extends 'base/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>{%block title%}Server{%endblock%}</title>
</head>
<body>
    {%block body%}
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="anime__details__review">
                                <div class="anime__review__item">
                                    <div class="anime__review__item__text">
                                        <h6>Sth went wrong with website, please contact site administrators :]</h6>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {%endblock%}
</body>
</html>